//header_area css
.header_area{
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 2;
    transition: background 0.4s, all 0.3s linear;
    .navbar{
        background: transparent;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        .logo_h{
            color: #fff;
            height: 80px;
            text-align: center;
            line-height: 69px;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 700;
        }
        .navbar-brand {
            padding-top: 0;
        }
        .nav{
            .nav-item{
                margin-right: 45px;
                .nav-link{
                    font: 400 12px/80px $rob;
                    text-transform: capitalize;
                    color: $white;
                    padding: 0px;
                    display: inline-block;
                    font-size: 14px;
                    &:after{
                        display: none;
                    }
                }
                &:hover, &.active{
                    .nav-link{
                        color: $baseColor;
                    }
                }
                &.submenu{
                    position: relative;
                    ul{
                        border: none;
                        padding: 0px;
                        border-radius: 0px;
                        box-shadow: none;
                        margin: 0px;
                        background: #fff;
                        box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
                        @media (min-width: 992px){
                            position: absolute;
                            top: 120%;
                            left: 0px;
                            min-width: 200px;
                            text-align: left;
                            opacity: 0;
                            transition: all 300ms ease-in;
                            visibility: hidden;
                            display: block;
                            border: none;
                            padding: 0px;
                            border-radius: 0px;
                        }
                        &:before{
                            content: "";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 10px 10px 0 10px;
                            border-color: #eeeeee transparent transparent transparent;
                            position: absolute;
                            right: 24px;
                            top: 45px;
                            z-index: 3;
                            opacity: 0;
                            transition: all 400ms linear;
                        }
                        .nav-item{
                            display: block;
                            float: none;
                            margin-right: 0px;
                            border-bottom: 1px solid #ededed;
                            margin-left: 0px;
                            transition: all 0.4s linear;
                            .nav-link{
                                line-height: 45px;
                                color: $dip;
                                padding: 0px 30px;
                                transition: all 150ms linear;
                                display: block;
                                margin-right: 0px;
                            }
                            &:last-child{
                                border-bottom: none;
                            }
                            &:hover{
                                .nav-link{
                                    background: $baseColor;
                                    color: #fff;
                                }
                            }    
                        }
                    }
                    &:hover{
                        ul{
                            @media (min-width: 992px){
                                visibility: visible;
                                opacity: 1;
                                top: 100%;
                            }
                            .nav-item{
                                margin-top: 0px;
                            }
                        }
                    }
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }


    &.navbar_fixed{
        .main_menu{
            position: fixed;
            width: 100%;
            top: -70px;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.8);  
            transform: translateY(70px);
            transition: transform 500ms ease, background 500ms ease;
            -webkit-transition: transform 500ms ease, background 500ms ease;
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
            .navbar{
                .nav{
                    .nav-item{
                        .nav-link{
                            line-height: 70px;
                        }
                    }
                }
            }
        }
    }
}



.right-button{
    margin-left: 60px;
    margin-top: 15px;
    ul{
        padding: 0;
        list-style: none;
        li{
            display: inline-block;
            margin-left: 68px;
            font-size: 16px;
            a{
                color: $white; 
            }
        }
    }
    .shop-icon{
        position: relative;
        span{
            position: absolute;
            background: #e22104;
            right: -10px;
            top: -4px;
            border-radius: 50px;
            color: #fff;
            width: 15px;
            height: 15px;
            font-size: 10px;
            text-align: center;
            line-height: 14px;
        }
    }
    @media (max-width: 991px){

        display: none;
    }
    .sign_up{
        font-size: 14px;
        color: #222222;
        background: #fff;
        padding: 12px 38px;
        border-radius: 3px;
        font-weight: 500;
    }

}


#search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    z-index: 999;
    text-align: center;
    padding: 0 20px;
    background: $baseColor;
    ::placeholder {
        color: #fff;
    }
}

#search_input_box .form-control {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
}

#search_input_box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
}

#search_input_box .ti-close {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}


.search-inner{
    padding: 5px 15px;
}

.form-control:focus {
    box-shadow: none;
}

.navbar_fixed #search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1140px;
    z-index: 999;
    text-align: center;
    padding: 0 20px;
    top: 80px;
}



