

/* Start Pricing Area css
============================================================================================ */

.pricing_area{
    position: relative;
    z-index: 1;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 75%;
        background: #f6f6f6;
        background-image: url(../img/background/pattern2.png);
        background-repeat: repeat-y;
        z-index: 0;
        left: 0;
        top: 0;

    }
    .area-heading{
        margin-bottom: 70px;
        h4{
            margin-bottom: 20px;
        }
    }
    .col-lg-3:nth-child(1) .single-pricing{
        .pricing-icon:after{
            background: $circle1;
        }

    }
    .col-lg-3:nth-child(2) .single-pricing{
        .pricing-icon:after{
            background: $circle2;
        }

    }
    .col-lg-3:nth-child(3) .single-pricing{
        .pricing-icon:after{
            background: $circle3;
        }

    }
    .col-lg-3:nth-child(4) .single-pricing{
        .pricing-icon:after{
            background: $circle4;
        }
    }
}

.single-pricing{
    text-align: left;
    padding: 40px 0 45px;
    background: #fff;
    border: 1px solid #edf1f6;
    padding: 40px 30px;
    @include transition;
    &:hover{

    }
    .pricing-icon {
        width: 150px;
        height: 95px;
        text-align: center;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        line-height: 112px;
        &:after{
            content: '';
            position: absolute;
            height: 70px;
            width: 70px;
            background: #fcefed;
            border-radius: 100%;
            left: 0;
            z-index: -1;
            top: 0;
        }
        i{
            font-size: 40px;
            color: #050817;
        }
    }
    .single-pricing-content{
        h5{
            font-size: 24px;
            font-weight: 600;
            color: $dip;
            margin-bottom: 18px;
            border-bottom: 1px solid #edf1f6;
            padding-bottom: 12px;
        }
        h4{
            font-size: 24px;
            font-weight: 600;
            color: $dip;
            margin-bottom: 46px;

            span{
                color: $pfont;
                font-size: 15px;
                font-weight: 400;
            }
            .currency_line{
                font-size: 24px;
                color: $pfont;
                font-weight: 300;
            }
        }
        ul{
            border-bottom: 1px solid #edf1f6;
            padding-bottom: 15px;
            margin-bottom: 20px;
            li{
                font-size: 14px;
                color: $pfont;
                margin-bottom: 11px;
            }
        }
        a{
            font-size: 14px;
            color:$dip;
            border-bottom: 2px solid #edf1f6;
            font-weight: 600;
            padding-bottom: 5px;
            &:hover{
                border-bottom: 2px solid #fd1c4a;
                @include transition;
            }
        }

    }


}



/* End pricing Area css
============================================================================================ */
