


<!-- ================ start footer Area ================= -->
<footer class="footer-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>Sobre Nós</h4>
                <p>Somos uma empresa multidisciplinar, integrada por especialistas e profissionais da área ambiental.
                    Nossos serviços proporcionando para a sua empresa as melhores soluções ambientais, colaborando para
                    que tenham mais sustentabilidade e lucratividade, oferendo e prestando serviços ambientais de
                    qualidade aos empreendedores e a sociedade, com soluções, ideias praticas, conhecimentos sólidos e
                    técnicos.
                </p>
                <div class="footer-logo">
                    <img src="img/Cubologo-02.png" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>Contato</h4>
                <div class="footer-address">
                    <p>Rua Soldado Tomás Antônio Machado,36 - Vila Esplanada, Guarulhos - SP <br> CEP: 07041-270</p>
                    <span>Tel : (11) 4574-4302</span>
                    <!-- <span>Cel: (11) 93312-1990</span> -->
                    <span>E-mail : <a
                            href="mailto:contato@cuborecicla.com.br">contato@cuborecicla.com.br</a></span>
                </div>
            </div>

            <!-- <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>Links Rápidos</h4>
                <ul>
                    <li><a href="gestao_estoque.html">Sistema de Gestão de Estoque</a></li>
                    <li><a href="gestao_agendamentos.html">Sistema de Gestão de Agendamentos</a></li>
                    <li><a href="marketplace.html">Marketplace</a></li>
                    <li><a href="suporte.html">Suporte Técnico</a></li>
                </ul>
            </div> -->

            <!-- <div class="col-lg-6 col-md-8 mb-4 mb-xl-0 single-footer-widget">
                <h4>Newsletter</h4>
                <p>Cadastre-se para receber nossas informações</p>

                <div class="form-wrap" id="mc_embed_signup">
                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                    method="get">
                    <div class="input-group">
                        <input type="email" class="form-control" name="EMAIL" placeholder="E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail '">
                        <div class="input-group-append">
                            <button class="btn click-btn" type="submit">
                                <i class="fab fa-telegram-plane"></i>
                            </button>
                        </div>
                    </div>
                    <div style="position: absolute; left: -5000px;">
                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                    </div>

                    <div class="info"></div>
                </form>
            </div>

        </div> -->
        </div>
        <div class="footer-bottom row align-items-center text-center text-lg-left no-gutters">
            <p class="footer-text m-0 col-lg-8 col-md-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                Todos direitos Reservados <i class="fa fa-heart" aria-hidden="true"></i> by <a
                    href="http://dixco.com.br/" target="_blank">Dix Co.</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

        </div>
    </div>
</footer>
<!-- ================ End footer Area ================= -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/contact.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/theme.js"></script>
</body>
</html>